<nav class="nav">
  <div class="nav__left">
    <div class="input-box__text">

      <img src="../assets/img/Facebook_logo.svg" alt="" width="40" height="40">

      <label for="search-input">
        <input type="search" name="" id="search-input" placeholder="Search Facebook">
      </label>
    </div>
  </div>
  <div class="nav__middle">
    <div class="facebook-icons">
      <div class="facebook-icons__item active">
        <i class="fa-solid fa-house"></i>
      </div>
      <div class="facebook-icons__item">
        <i class="fas fa-user-friends"></i>
      </div>
      <div class="facebook-icons__item">
        <i class="fa-solid fa-film"></i>
      </div>
      <div class="facebook-icons__item">
        <i class="fa-solid fa-store"></i>
      </div>
      <div class="facebook-icons__item">
        <i class="fas fa-dice-d6"></i>
      </div>
    </div>
  </div>
  <div class="nav__right">
    <div class="facebook-services">
      <div class="facebook-services__item"><i class="fa-solid fa-grip"></i></div>
      <div class="facebook-services__item"><i class="fa-brands fa-facebook-messenger"></i></div>
      <div class="facebook-services__item"><i class="fa-solid fa-bell"></i></div>
      <div class="user__icon">
        <img src="../assets/img/user-img.jpg" alt="" class="img-rounded">
      </div>
    </div>
  </div>
</nav>