<div class="wrapper">
  <ul class="facebook-shortcuts">
    <li class="facebook-shortcuts__shortcut">
      <img src="../../assets/img/user-img.jpg" alt="">
      <span class="facebook-shortcuts__shortcut--text">ahmed hassan</span>
    </li>

    <li class="facebook-shortcuts__shortcut">
      <img src="../../assets/img/shortcuts/find-friends.png" alt="">
      <span class="facebook-shortcuts__shortcut--text">find Friend's</span>
    </li>

    <li class="facebook-shortcuts__shortcut">
      <img src="../../assets/img/shortcuts/groups.png" alt="">
      <span class="facebook-shortcuts__shortcut--text">Group's</span>
    </li>

    <li class="facebook-shortcuts__shortcut">
      <img src="../../assets/img/shortcuts/market.png" alt="">
      <span class="facebook-shortcuts__shortcut--text">marketplace</span>
    </li>

    <li class="facebook-shortcuts__shortcut">
      <img src="../../assets/img/shortcuts/watch.png" alt="">
      <span class="facebook-shortcuts__shortcut--text">Watch</span>
    </li>

    <li class="facebook-shortcuts__shortcut">
      <img src="../../assets/img/shortcuts/memories.png" alt="">
      <span class="facebook-shortcuts__shortcut--text">memories</span>
    </li>

    <li class="facebook-shortcuts__shortcut">
      <img src="../../assets/img/shortcuts/saved.png" alt="">
      <span class="facebook-shortcuts__shortcut--text">saved</span>
    </li>

    <li class="facebook-shortcuts__shortcut">
      <img src="../../assets/img/shortcuts/pages.png" alt="">
      <span class="facebook-shortcuts__shortcut--text">pages</span>
    </li>

    <li class="facebook-shortcuts__shortcut">
      <img src="../../assets/img/shortcuts/events.png" alt="">
      <span class="facebook-shortcuts__shortcut--text">events</span>
    </li>

    <li class="facebook-shortcuts__shortcut">
      <img src="../../assets/img/shortcuts/most-recent.png" alt="">
      <span class="facebook-shortcuts__shortcut--text">most recent</span>

    <li class="facebook-shortcuts__shortcut">
      <img src="../../assets/img/shortcuts/favorites.png" alt="">
      <span class="facebook-shortcuts__shortcut--text">favorites</span>
    </li>

    <li class="facebook-shortcuts__shortcut">
      <div>
        <i class="fas fa-angle-down"></i>
      </div>
      <span class="facebook-shortcuts__shortcut--text">See more</span>
    </li>

  </ul>

</div>