<div class="wrapper">

  <div class="facebook-sponsors">
    <h4>sponsored</h4>

    <div class="facebook-sponsors__item">
      <img src="../../assets/img/sponsor-1.jpg" alt="" class="facebook-sponsors__img">
      <div class="facebook-sponsors__text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Unde, esse.</div>
    </div>

    <div class="facebook-sponsors__item">
      <img src="../../assets/img/sponsor-2.jpg" alt="" class="facebook-sponsors__img">
      <div class="facebook-sponsors__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, placeat?
      </div>
    </div>
  </div>

  <div class="separator"></div>

  <div class="facebook-contacts">
    <h4>contacts</h4>

    <div class="facebook-contacts__item">
      <img src="https://picsum.photos/id/10/64/64" alt="" class="facebook-contacts__img">
      <div class="facebook-contacts__text">Jack A. Malley</div>
    </div>
    <div class="facebook-contacts__item">
      <img src="https://picsum.photos/id/11/64/64" alt="" class="facebook-contacts__img">
      <div class="facebook-contacts__text">Misty R. White</div>
    </div>
    <div class="facebook-contacts__item">
      <img src="https://picsum.photos/id/12/64/64" alt="" class="facebook-contacts__img">
      <div class="facebook-contacts__text">John J. Ferguson</div>
    </div>
    <div class="facebook-contacts__item">
      <img src="https://picsum.photos/id/13/64/64" alt="" class="facebook-contacts__img">
      <div class="facebook-contacts__text">Mary G. Keys</div>
    </div>
    <div class="facebook-contacts__item">
      <img src="https://picsum.photos/id/14/64/64" alt="" class="facebook-contacts__img">
      <div class="facebook-contacts__text">Martha A. Bennett</div>
    </div>
    <div class="facebook-contacts__item">
      <img src="https://picsum.photos/id/15/64/64" alt="" class="facebook-contacts__img">
      <div class="facebook-contacts__text">Joyce A. Britt</div>
    </div>
    <div class="facebook-contacts__item">
      <img src="https://picsum.photos/id/16/64/64" alt="" class="facebook-contacts__img">
      <div class="facebook-contacts__text">Rosemary G. Reeves</div>
    </div>
    <div class="facebook-contacts__item">
      <img src="https://picsum.photos/id/17/64/64" alt="" class="facebook-contacts__img">
      <div class="facebook-contacts__text">Ethel J. Martin</div>
    </div>
    <div class="facebook-contacts__item">
      <img src="https://picsum.photos/id/18/64/64" alt="" class="facebook-contacts__img">
      <div class="facebook-contacts__text">Lola S. Reading</div>
    </div>
  </div>

</div>