<div class="wrapper">
  <div class="facebook-stories">
    <div class="facebook-stories__header">
      <span>stories</span>
      <span>reels</span>
      <span>rooms</span>
    </div>
    <div class="facebook-stories__container">
      <div class="facebook-stories__container__create-story">
        <img src="../../assets/img/user-img.jpg" alt="" class="facebook-stories__container__create-story--img">
        <div class="facebook-stories__container__create-story--circle"><i class="fas fa-plus"></i></div>
        <span class="facebook-stories__container__create-story--username">create story</span>
      </div>
      <div class="facebook-stories__container__story story-1">
        <img src="https://picsum.photos/id/34/100/180" alt="" class="facebook-stories__container__story--img">
        <div class="facebook-stories__container__story--username">John</div>
      </div>
      <div class="facebook-stories__container__story story-2">
        <img src="https://picsum.photos/id/35/100/180" alt="" class="facebook-stories__container__story--img">
        <div class="facebook-stories__container__story--username">George</div>
      </div>
      <div class="facebook-stories__container__story story-3">
        <img src="https://picsum.photos/id/36/100/180" alt="" class="facebook-stories__container__story--img">
        <div class="facebook-stories__container__story--username">Fernando</div>
      </div>
      <div class="facebook-stories__container__story story-4">
        <img src="https://picsum.photos/id/37/100/180" alt="" class="facebook-stories__container__story--img">
        <div class="facebook-stories__container__story--username">Bobby</div>
      </div>
      <div class="facebook-stories__container__story story-5">
        <img src="https://picsum.photos/id/38/100/180" alt="" class="facebook-stories__container__story--img">
        <div class="facebook-stories__container__story--username">Blanche</div>
      </div>
    </div>
  </div>

  <div class="create-post">
    <div class="input-box__text">
      <img src="../../assets/img/user-img.jpg" alt="" class="create-post__img">

      <label for="create-post" class="create-post__label">
        <input type="search" name="create-post" id="create-post" placeholder="What's on your mind, Ahmed?">
      </label>
    </div>

    <div class="create-post__buttons">
      <div class="create-post__buttons--item">
        <i class="fa-solid fa-video"></i>
        <span>live video</span>
      </div>

      <div class="create-post__buttons--item">
        <i class="fa-solid fa-image"></i>
        <span>photo / video</span>
      </div>

      <div class="create-post__buttons--item">
        <i class="fa-solid fa-face-laugh"></i>
        <span>feeling / activity</span>
      </div>
    </div>
  </div>

  <div class="add-friends">
    <span class="add-friends__title">People You May Know</span>

    <div class="add-friends__container">
      <div class="add-friends__container__item">
        <img src="https://picsum.photos/id/30/160/160" alt="">
        <div class="add-friends__container__item--text">Richard E. Medellin</div>
        <span class="add-friends__container__item--btn">
          <i class="fas fa-user-plus"></i>
          add friends</span>
      </div>
      <div class="add-friends__container__item">
        <img src="https://picsum.photos/id/31/160/160" alt="">
        <div class="add-friends__container__item--text">Leslie S. Marshall</div>
        <span class="add-friends__container__item--btn">
          <i class="fas fa-user-plus"></i>
          add friends</span>
      </div>
      <div class="add-friends__container__item">
        <img src="https://picsum.photos/id/32/160/160" alt="">
        <div class="add-friends__container__item--text">Quinton A. Taylor</div>
        <span class="add-friends__container__item--btn">
          <i class="fas fa-user-plus"></i>
          add friends</span>
      </div>
    </div>
  </div>

  <div class="news-feed">
    <header class="news-feed__header">
      <div class="news-feed__header__post-user--image">
        <img src="https://picsum.photos/id/30/200/300" alt="">
      </div>
      <div class="news-feed__header__post-meta">
        <div class="news-feed__header__post-meta__name">Richard E. Medellin</div>
        <div class="news-feed__header__post-meta__info">
          <span class="date">1d.</span>
          <span class="privacy"><i class="fas fa-globe-americas"></i></span>
        </div>
      </div>
      <div class="news-feed__header__options"><i class="fas fa-ellipsis-h"></i></div>
    </header>
    <section class="news-feed__feed">
      <p class="news-feed__feed--feed">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, asperiores!
        Officiis incidunt quidem suscipit
        animi earum labore ipsa? Velit, dignissimos!</p>
      <img src="https://picsum.photos/id/80/600/340" width="100%" alt="" class="news-feed__feed--img">
    </section>
    <footer class="news-feed__footer">
      <div class="news-feed__footer--reactions">
        <img src="../../assets/img/reactions-1.svg" alt="">
        <img src="../../assets/img/reactions-2.svg" alt="">
        <img src="../../assets/img/reactions-3.svg" alt="">
      </div>
      <div>
        <span class="news-feed__footer--comments">1.8K Comments</span>
        <span class="news-feed__footer--share">922 Shares</span>
      </div>
    </footer>
    <div class="news-feed__items">
      <div class="news-feed__items--item">
        <i class="fas fa-thumbs-up"></i>
        <span>like</span>
      </div>
      <div class="news-feed__items--item">
        <i class="far fa-comment"></i>
        <span>comments</span>
      </div>
      <div class="news-feed__items--item">
        <i class="fas fa-share"></i>
        <span>share</span>
      </div>
    </div>

    <div class="news-feed__comment-box">
      <div class="input-box__text">
        <img src="../../assets/img/user-img.jpg" alt="" class="create-post__img">

        <label for="comment-post" class="create-post__label">
          <input type="text" name="comment-post" id="comment-post" placeholder="Write a comment…">
        </label>
      </div>
    </div>
  </div>
  <div class="news-feed">
    <header class="news-feed__header">
      <div class="news-feed__header__post-user--image">
        <img src="https://picsum.photos/id/31/40/40" alt="">
      </div>
      <div class="news-feed__header__post-meta">
        <div class="news-feed__header__post-meta__name">Richard E. Medellin</div>
        <div class="news-feed__header__post-meta__info">
          <span class="date">1d.</span>
          <span class="privacy"><i class="fas fa-globe-americas"></i></span>
        </div>
      </div>
      <div class="news-feed__header__options"><i class="fas fa-ellipsis-h"></i></div>
    </header>
    <section class="news-feed__feed">
      <p class="news-feed__feed--feed">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, asperiores!
        Officiis incidunt quidem suscipit
        animi earum labore ipsa? Velit, dignissimos!</p>
      <img src="https://picsum.photos/id/81/600/340" width="100%" alt="" class="news-feed__feed--img">
    </section>
    <footer class="news-feed__footer">
      <div class="news-feed__footer--reactions">
        <img src="../../assets/img/reactions-1.svg" alt="">
        <img src="../../assets/img/reactions-2.svg" alt="">
        <img src="../../assets/img/reactions-3.svg" alt="">
      </div>
      <div>
        <span class="news-feed__footer--comments">1.8K Comments</span>
        <span class="news-feed__footer--share">922 Shares</span>
      </div>
    </footer>
    <div class="news-feed__items">
      <div class="news-feed__items--item">
        <i class="fas fa-thumbs-up"></i>
        <span>like</span>
      </div>
      <div class="news-feed__items--item">
        <i class="far fa-comment"></i>
        <span>comments</span>
      </div>
      <div class="news-feed__items--item">
        <i class="fas fa-share"></i>
        <span>share</span>
      </div>
    </div>

    <div class="news-feed__comment-box">
      <div class="input-box__text">
        <img src="../../assets/img/user-img.jpg" alt="" class="create-post__img">

        <label for="comment-post" class="create-post__label">
          <input type="text" name="comment-post" id="comment-post" placeholder="Write a comment…">
        </label>
      </div>
    </div>
  </div>
  <div class="news-feed">
    <header class="news-feed__header">
      <div class="news-feed__header__post-user--image">
        <img src="https://picsum.photos/id/32/40/40" alt="">
      </div>
      <div class="news-feed__header__post-meta">
        <div class="news-feed__header__post-meta__name">Richard E. Medellin</div>
        <div class="news-feed__header__post-meta__info">
          <span class="date">1d.</span>
          <span class="privacy"><i class="fas fa-globe-americas"></i></span>
        </div>
      </div>
      <div class="news-feed__header__options"><i class="fas fa-ellipsis-h"></i></div>
    </header>
    <section class="news-feed__feed">
      <p class="news-feed__feed--feed">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, asperiores!
        Officiis incidunt quidem suscipit
        animi earum labore ipsa? Velit, dignissimos!</p>
      <img src="https://picsum.photos/id/83/600/340" width="100%" alt="" class="news-feed__feed--img">
    </section>
    <footer class="news-feed__footer">
      <div class="news-feed__footer--reactions">
        <img src="../../assets/img/reactions-1.svg" alt="">
        <img src="../../assets/img/reactions-2.svg" alt="">
        <img src="../../assets/img/reactions-3.svg" alt="">
      </div>
      <div>
        <span class="news-feed__footer--comments">1.8K Comments</span>
        <span class="news-feed__footer--share">922 Shares</span>
      </div>
    </footer>
    <div class="news-feed__items">
      <div class="news-feed__items--item">
        <i class="fas fa-thumbs-up"></i>
        <span>like</span>
      </div>
      <div class="news-feed__items--item">
        <i class="far fa-comment"></i>
        <span>comments</span>
      </div>
      <div class="news-feed__items--item">
        <i class="fas fa-share"></i>
        <span>share</span>
      </div>
    </div>

    <div class="news-feed__comment-box">
      <div class="input-box__text">
        <img src="../../assets/img/user-img.jpg" alt="" class="create-post__img">

        <label for="comment-post" class="create-post__label">
          <input type="text" name="comment-post" id="comment-post" placeholder="Write a comment…">
        </label>
      </div>
    </div>
  </div>
  <div class="news-feed">
    <header class="news-feed__header">
      <div class="news-feed__header__post-user--image">
        <img src="https://picsum.photos/id/33/40/40" alt="">
      </div>
      <div class="news-feed__header__post-meta">
        <div class="news-feed__header__post-meta__name">Richard E. Medellin</div>
        <div class="news-feed__header__post-meta__info">
          <span class="date">1d.</span>
          <span class="privacy"><i class="fas fa-globe-americas"></i></span>
        </div>
      </div>
      <div class="news-feed__header__options"><i class="fas fa-ellipsis-h"></i></div>
    </header>
    <section class="news-feed__feed">
      <p class="news-feed__feed--feed">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, asperiores!
        Officiis incidunt quidem suscipit
        animi earum labore ipsa? Velit, dignissimos!</p>
      <img src="https://picsum.photos/id/85/600/340" width="100%" alt="" class="news-feed__feed--img">
    </section>
    <footer class="news-feed__footer">
      <div class="news-feed__footer--reactions">
        <img src="../../assets/img/reactions-1.svg" alt="">
        <img src="../../assets/img/reactions-2.svg" alt="">
        <img src="../../assets/img/reactions-3.svg" alt="">
      </div>
      <div>
        <span class="news-feed__footer--comments">1.8K Comments</span>
        <span class="news-feed__footer--share">922 Shares</span>
      </div>
    </footer>
    <div class="news-feed__items">
      <div class="news-feed__items--item">
        <i class="fas fa-thumbs-up"></i>
        <span>like</span>
      </div>
      <div class="news-feed__items--item">
        <i class="far fa-comment"></i>
        <span>comments</span>
      </div>
      <div class="news-feed__items--item">
        <i class="fas fa-share"></i>
        <span>share</span>
      </div>
    </div>

    <div class="news-feed__comment-box">
      <div class="input-box__text">
        <img src="../../assets/img/user-img.jpg" alt="" class="create-post__img">

        <label for="comment-post" class="create-post__label">
          <input type="text" name="comment-post" id="comment-post" placeholder="Write a comment…">
        </label>
      </div>
    </div>
  </div>
  <div class="news-feed">
    <header class="news-feed__header">
      <div class="news-feed__header__post-user--image">
        <img src="https://picsum.photos/id/36/40/40" alt="">
      </div>
      <div class="news-feed__header__post-meta">
        <div class="news-feed__header__post-meta__name">Richard E. Medellin</div>
        <div class="news-feed__header__post-meta__info">
          <span class="date">1d.</span>
          <span class="privacy"><i class="fas fa-globe-americas"></i></span>
        </div>
      </div>
      <div class="news-feed__header__options"><i class="fas fa-ellipsis-h"></i></div>
    </header>
    <section class="news-feed__feed">
      <p class="news-feed__feed--feed">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, asperiores!
        Officiis incidunt quidem suscipit
        animi earum labore ipsa? Velit, dignissimos!</p>
      <img src="https://picsum.photos/id/87/600/340" width="100%" alt="" class="news-feed__feed--img">
    </section>
    <footer class="news-feed__footer">
      <div class="news-feed__footer--reactions">
        <img src="../../assets/img/reactions-1.svg" alt="">
        <img src="../../assets/img/reactions-2.svg" alt="">
        <img src="../../assets/img/reactions-3.svg" alt="">
      </div>
      <div>
        <span class="news-feed__footer--comments">1.8K Comments</span>
        <span class="news-feed__footer--share">922 Shares</span>
      </div>
    </footer>
    <div class="news-feed__items">
      <div class="news-feed__items--item">
        <i class="fas fa-thumbs-up"></i>
        <span>like</span>
      </div>
      <div class="news-feed__items--item">
        <i class="far fa-comment"></i>
        <span>comments</span>
      </div>
      <div class="news-feed__items--item">
        <i class="fas fa-share"></i>
        <span>share</span>
      </div>
    </div>

    <div class="news-feed__comment-box">
      <div class="input-box__text">
        <img src="../../assets/img/user-img.jpg" alt="" class="create-post__img">

        <label for="comment-post" class="create-post__label">
          <input type="text" name="comment-post" id="comment-post" placeholder="Write a comment…">
        </label>
      </div>
    </div>
  </div>